@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-primary-dark: #059669;
  --color-bg-dark: #09090b;
  --color-bg-card: #18181b;
  --color-bg-card-hover: #27272a;
  --color-border: #27272a;
  --color-border-light: #3f3f46;
  --color-text-main: #f8fafc;
  --color-text-muted: #a1a1aa;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border-light);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}
